.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile {
  width: 50px;
}
.heading {
  color: #12022f;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
}
.para {
  color: #616e7c;
  font-size: 15px;
  font-family: 'Roboto';
}
